COINGECKO_API_KEY=some_key
PROJECT_ROOT=Path/To/Project/Root
DBT_TARGET=dev
DBT_PROJECT_DIR=transform
DBT_PROFILES_DIR=transform
DUCKDB_WAREHOUSE_PATH=Warehouse/Path
DUCKDB_META_PATH=Meta/Path
API_KEY=test_key
DATA_RAW_PATH=data/raw/prices